.ghe {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(152, 152, 152);
  color: #fff;
}
.gheDaDat {
  background-color: rgb(255, 43, 43);
  cursor: no-drop;
}
.gheDangDat {
  background-color: rgb(26, 171, 26);
}
.gheVip {
  background-color: orange;
}

.trapezoid {
  border-bottom: 10px solid black;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;

  width: 90%;
  filter: contrast(204%) drop-shadow(-7px 21px 9px #000000);
  -webkit-filter: contrast(204%) drop-shadow(-7px 21px 9px #000000);
  -moz-filter: contrast(204%) drop-shadow(-7px 21px 9px #000000);
}
