@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: "Josefin Sans", sans-serif;
}
.slick-dots li {
  bottom: 40px;
}
.slick-dots li button:before {
  font-size: 20px !important;
  color: white !important;
}
.slick-prev {
  left: 20px !important;
  z-index: 100 !important;
}
.slick-prev:before {
  font-size: 50px !important;
}
.slick-next {
  right: 45px !important;
  z-index: 100 !important;
}
.slick-next:before {
  font-size: 50px !important;
}

.ReactModal__Overlay {
  background-color: rgb(0 0 0 / 75%) !important;
}

#slider-mobile .slick-next::before {
  display: none;
}
#slider-mobile .slick-prev::before {
  display: none;
}
